@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LISTA OSÓB ZAGINIONYCH</h1>
    <p class="lead">Aby przejrzeć aktualną listę przejdź do zakłądki Osoby zaginione</p>
    <h2>Jeśli masz uprawnienia do modyfikacji wpisów zaloguj się na swoje konto.</h2>
    <p>Jeśli chcesz zgłosić osobę zaginioną skontaktuj się z administratorem bądź odpowiednią jednostką policji, któa ma odpowiednie uprawnienia.</p>
</div>

<div class="row">
   
</div>